* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
input {
    outline: none;
}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
textarea {
    outline: none;
    resize: none;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.header {
    width: 100%;
    margin: 0 auto;
}
.contacts {
    width: 100%;
    background-color: #333333;
}
.fs-7 {
    font-size: 14px;
}
.fs_own-1 {
    font-size: 64px;
}
.fs_own-2 {
    font-size: 36px;
}
.fs_own-6 {
    font-size: 17px;
}
.main {
    width: 100%;
}
.preparation {
    background-image: url('../img/design_bg-1.png'), url('../img/design_bg-1.png'), url('../img/design_bg-2.png');
    background-repeat: no-repeat;
    background-position: 5% 100%, 90% 10%, 93% 65%;
}
.preparation_item {
    position: relative;
}
.preparation_item::before {
    content: '';
    position: absolute;
    border-top: 2px solid #7746D7;
    width: 26px;
    top: 50%;
    left: 0;
}
.bg_color-1 {
    background-color: #7746D7;
}
.our_goals {
    background-image: url('../img/design_bg-3.png');
    background-repeat: no-repeat;
    background-position: 10% 10%;
}
.our_goals_list {
    background-color: #ffffff57;
    max-width: 460px;
}
.our_goals_list > div:nth-child(1), 
.our_goals_list > div:nth-child(2) {
    border-bottom: 2px solid #7746D7;
}
.our_goals_text {
    max-width: 398px;
}

@media (max-width: 576px) {
    .preparation, .our_goals {
        background-image: none;
    }
    .fs_own-1 {
        font-size: 50px;
    }
    .fs_own-2 {
        font-size: 28px;
    }
}
@media (max-width: 1100px) {
    .preparation, .our_goals {
        background-image: none;
    }
}