* {
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
input {
    outline: none;
}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1920px;
}
header {
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: #102457;
    border-bottom: 4px solid #EB5757;
}
.header, .nav_menu {
    display: flex;
}
.nav_menu li {
    width: 100px;
    margin: 20px 38px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-left: 1px solid #C6D3F5;
}
.nav_menu li a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #C6D3F5;
}
.nav_menu li:hover a {
    color: #fff;
}
.nav_menu li:hover {
    cursor: pointer;
    border-left: 1px solid #fff;
}
.nav_menu li:active a {
    color: #fff;
}
.nav_menu li:active {
    border-color:  #fff;
}
.container {
    width: 100%; 
}
.active {
    color: #fff !important;
}
.direction {
    background-color: #102457;
    background-image: url('../img/background_logo.png');
    background-position: 20%, top;
    background-repeat: no-repeat;
}
.direction_title, .maco_experts, .maco_news {
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    padding: 10px 0 10px 20px;
    border-radius: 0 0 8px 8px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    background-color: #EB5757;
    width: 250px;
}
.direction_list li, .direction_list li:nth-child(4) a {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}
.direction_list li:nth-child(2), .direction_list li:nth-child(3) {
    padding-top: 20px;
    padding-left: 40px;
}
.direction_list li:nth-child(4) {
    margin-top: 50px;
}
.direction_list li:nth-child(4) a {
    padding: 10px 50px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.direction_list li:nth-child(4) a:hover {
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
}
.direction_list {
    width: 490px;
    margin: 95px 20px 70px;
}
.direction_list div {
    position: relative;
}
.direction_list li:nth-child(2) div::before, .direction_list li:nth-child(3) div::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -20px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}
.maco_experts {
    width: 280px;
}
.tile_text {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #828282;
    padding: 10px 0;
}
.slider_specialists {
    margin-top: 50px;
    max-width: 1400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.experts_list {
    text-align: center;
    width: 100%;
}
.slider {
    width: 100%;
}
.experts_item {
    width: 33.333333333%;
}
.all_experts, .all_news {
    font-family: Roboto;
    font-size: 18px;
    line-height: 25px;
    color: #828282;
    border: 1px solid #828282;
    border-radius: 5px;
    padding: 10px 50px;
}
.all_experts:hover {
    background-color: #828282;
    color: rgb(255, 255, 255);
}
.maco_news {
    background-color: #102457;
    width: 283px;
    margin-top: 80px;
}
.news_list {
    max-width: 1400px;
    margin: 0 auto;
}
.news_item {
    max-width: 254px;
    margin: 60px 15px;
}
.card_body p {
    width: 100%;
}
.news_hading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
    margin-top: 44px;
}
.news_data {
    font-family: Roboto;
    font-size: 12px;
    line-height: 17px;
    color: #BDBDBD;
}
.news_description {
    padding: 20px 0;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    color: #828282;
}
.news_list .slick-list {
    height: 500px;
    margin-bottom: 100px;
} 
.all_news {
    color: #EB5757;
    border-color: #EB5757;
    padding: 10px 80px;
}
.all_news:hover {
    color: rgb(255, 255, 255);
    background-color: #102457;
    border-color: #102457;
}